@charset "utf-8";

#home-intro{
	padding: 40px 0 70px;
    background-color: #01579B;
}

#home-intro #home-intro-slogan{
	width: 380px;
	height: 160px;
	margin: 0 auto;
	background-image: url('/images/learn_simply.png');
	background-size: 380px 160px;
	background-repeat: no-repeat;
}


#courses{
	width: 1000px;
	margin: 50px auto 80px;
}

#courses ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#courses a{ text-decoration: none; }

#courses ul li{
	float: left;
	width: 300px;
	height: 120px;

	margin: 10px;
	padding: 0;
	background-color: white;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.05) 0px 2px 2px;

	cursor: pointer;
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#courses ul li:hover{ border-color: #bbb; background-color: #fafafa }


#courses ul li h4{
	margin: 10px 18px 3px;
	padding: 8px 0 1px;
	font-size: 25px;
	font-weight: 300;

	color: #333;
}

#courses ul li .description{
	padding: 0 20px;
	font-size: 14px;
	color: #666;
}

footer{
	border-top: none;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#home-intro #home-intro-slogan{
		background-image: url('/images/learn_simply@2x.png');
	}
}


@media (max-width: 700px) {
	#home-intro{
		padding: 30px 50px 10px;
	}

	#home-intro #home-intro-slogan{
		width: 100%;
		background-size: 100%;
	}

	#courses{
		width: 100%;
	}

	#courses ul{
		margin: 0 20px;
	}

	#courses ul li{
		float: none;
		width: 100%;
		margin: 10px 0;
	}
}