@charset "utf-8";

a.anchorjs-link{
	color: #aaa;
	margin-top: 6px;
}
a.anchorjs-link:hover{
	color: #999;
}

.post{
	max-width: 900px;
	margin: 0 auto;
	padding: 50px 20px 50px;
	color: #444;
	font-size: 18px;
}

.post strong,
.post b {
	font-weight: 500;
}

.post h1{
	font-size: 40px;
	font-weight: bold;
	padding: 0 0 5px 0;
	margin: 20px 0 -10px;
	/* border-bottom: 1px solid #ddd; */
}

.post .alert-box{
	padding: 8px 12px 5px;
	background-color: #fffcea;
	border: 1px solid #fde394;
	border-radius: 5px;
	color: #544300;
	font-size: 17px;
}

.post .output-label {
	color: #666;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 3px;
}

.post .output {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 3px 0;
	padding: 5px;
	position: relative;
	font-size: 16px;
	line-height: initial;
}
.post .output h2,
.post .output h3,
.post .output h4{
    margin: initial;
    padding-top: initial;
    border-bottom: none;
}

.post .output input,
.post .output select{
	border: 1px solid #ddd;
}


.post-footer{
	/*position: absolute;*/
	width: 100%;
	bottom: 0;
	border-top: 1px solid #e0e0e0;
}

.post-footer .pagination{
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	/* background-color: #fafafa; */
}

.post-footer .pagination a{
	display: inline-block;
	*zoom: 1;
	padding: 3px 0;
	color: #444;
	text-decoration: none;
}
.post-footer .pagination a:hover{ text-decoration: underline; }
.post-footer .pagination a.next { float: right; }

.post-footer .pagination a .sub{ color: #888 }
.post-footer .pagination a i{ padding: 0 3px }


.post-footer #disqus_thread{
	padding: 5px 30px;
	border-top: 1px solid #e0e0e0;
}

@media (max-width: 700px) {
	.post img{ max-width: 100% }

	.post pre code{ tab-size: 2; }
}


@media (min-width: 1400px) {
	footer p {
		margin-left: 220px;
		text-align: left
	}
}