@charset "utf-8";

.post{
	padding: 20px 20px 50px;
	color: #444;
}

.post h1{
	font-size: 36px;
	font-weight: 400;
	padding: 0 0 5px 0;
	margin: 5px 0 -10px;
	border-bottom: 1px solid #ddd;
}



.post .output-label {
	color: #666;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 3px;
}

.post .output {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 3px 0;
	padding: 5px;
	position: relative;
}
.post .output h2{
    margin: initial;
    padding-top: initial;
    border-bottom: none;
}

.post .output input,
.post .output select{
	border: 1px solid #ddd;
}


.post-footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #fafafa;
	border-top: 1px solid #e0e0e0;
}

.post-footer .pagination{
	padding: 10px;
}

.post-footer .pagination a{
	display: inline-block;
	*zoom: 1;
	padding: 3px 7px;
	color: #444;
	text-decoration: none;
	font-size: 14px;
}
.post-footer .pagination a:hover{ text-decoration: underline; }
.post-footer .pagination a.prev{ border-right: 1px solid #ddd; padding-right: 12px }

.post-footer .pagination a .sub{ color: #888 }
.post-footer .pagination a i{ padding: 0 3px }

@media (max-width: 700px) {
	.post img{ max-width: 100% }

	.post pre code{ tab-size: 2; }
}
