<footer>
	<p>
		&copy; Copyrights all right reserved. 2017-2023 ofcourse, 2013-2018 div.or.kr<br>
		본 웹사이트의 모든 강의 자료와 그 편집 순서, 예제 코드 등은 어문 저작물 및 컴퓨터 프로그램 저작물 등으로서 보호를 받습니다.<br>
		각종 문의는 <a href="https://github.com/of-course" target="_blank">Github</a>로 해주시기 바랍니다.
	</p>
</footer>

<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">
	$('header .menu-bar').click(function (event) {
		var dest = ($('#content').offset().left == 0) ? '180px' : '0';
		$('#content').animate({'left': dest}, 400);
	});
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91544024-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-91544024-1');
</script>
