<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title %}
	{% assign cat = page.categories.first | upcase %}
	{% if cat == 'JS' %} {% assign cat = 'JavaScript' %} {% endif %}

	{% assign title_1ss = page.title | split: ' ' | first %}

	{% if cat == title_1ss %}
		<title>{{ page.title }} - {{ site.title }}</title>
	{% else %}
		<title>{{ cat }} {{ page.title }} - {{ site.title }}</title>
		
	{% endif %}
{% else %}
<title>{{ site.title }}</title>
{% endif %}

{% if page.title %}
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 260 | escape }}">
<meta name="subject" content="{{ page.title }}">
<meta name="classification" content="{{ page.categories }}">

{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}

{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% else %}
<meta name="keywords" content="{{ site.keywords }}">
{% endif %}
<meta name="robots" content="ALL">

<meta property="og:image" content="/images/screenshot.png">

<link rel="shortcut icon" href="{{ 'favicon.ico' | absolute_url }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700">
<link rel="stylesheet" type="text/css" href="{{ '/css/global.css?20190720' | absolute_url }}">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>