---
layout: compress
---
<!doctype html>
<html>
<head>	
	{% include head.html %}

	<link rel="stylesheet" type="text/css" href="{{ '/css/markdown-theme.css' | absolute_url }}"">
	<link rel="stylesheet" type="text/css" href="{{ '/css/lnb.css' | absolute_url }}">
	<link rel="stylesheet" type="text/css" href="{{ '/css/post.css' | absolute_url }}">

	<script type="text/javascript" src="https://assets.colorscripter.com/libs/3/colorscripter.js"></script>
</head>
<body>
	<header>
		{% include logo.html %}
		{% include gnb.html %}
	</header>

	<div>
		{% include lnb.html cate_name=page.categories.first now_post=page %}

		<div id="content">
			<div class="post">
				<h1>{{ page.title | escape }}</h1>

				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					style="display:block; margin-top: 35px"
					data-ad-client="ca-pub-4476671104014830"
					data-ad-slot="9559268128"
					data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>

				<div class="post-body md-theme">
					{{ content }}
				</div>
			</div>

			<div class="post-footer">
				<div class="pagination">
					{% if page.previous and page.categories == page.previous.categories %}
					<a href="{{ page.previous.url }}" class="prev">
						<i class="fa fa-caret-left sub" aria-hidden="true"></i>
						<span class="sub">이전 강의:</span>
						<span>{{ page.previous.title | escape }}</span>
					</a>
					{% endif %}
					{% if page.next and page.categories == page.next.categories %}
					<a href="{{ page.next.url }}" class="next">
						<span class="sub">다음 강의:</span>
						<span>{{ page.next.title | escape }}</span>
						<i class="fa fa-caret-right sub" aria-hidden="true"></i>
					</a>
					{% endif %}
				</div>

				<div id="disqus_thread"></div>
			</div>
		</div>
	
		<script type="text/javascript">
			var disqus_config = function () {
				this.page.url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';
				this.page.identifier = '{{ page.url }}';

				this.callbacks.afterRender.push(function() {
					console.log('ar');
				});
			};
			(function() {
				/* Disqus */
				var d = document, s = d.createElement('script');
				s.src = '//ofcourse-1.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();


			(function() {
				/* rendering output */
				var paddingH = $('#content').innerHeight() - $('#content').height();
				$('#content').css('min-height', $('#lnb').outerHeight() - paddingH + 'px');

				$('.post-body pre code').each(function() {
					var dom = $(this).parent();
					if ((dom.prev().is('h2') || dom.prev().is('h3')) && dom.prev().text() == '예제') {
						$('<div class="output-label">출력 결과</div><div class="output">'+ $(this).text() +'</div>').insertAfter(dom);
					}
					
					var className = $(this).attr('class');
					if (!className) return;

					var temp = className.split('language-')[1];
					if (!temp) return;

					var lang = temp.split(' ')[0];
					var cs = new ColorScripter(lang);

					$(this).html( cs.color( $(this).text() ) );
				});
			})();
		</script>
	</div>

	{% include footer.html %}
</body>
</html>